.nav{
    background-color: #D2B48C;
}

.toggle{
    border: none;
}

.imgLanding{
    height: 300px;
}

.botonCard{
    background-color: #D2B48C;
}

.descriptionCard{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.verseCard{
    font-weight: 500;
}

.botonVerMas{
    background-color: #D2B48C;
    border-color: #D2B48C;
}