.nav{
    background-color: #D2B48C;
}

.toggle{
    border: none;
}

.imgLanding{
    height: 300px;
}

.botonCard{
    background-color: #D2B48C;
    border-color: #D2B48C;
}

.imgCard{
    max-height: 200px;
    min-height: 200px;
}

.descriptionCard{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.verseCard{
    font-weight: 500;
    border-bottom: solid 1px rgba(128, 128, 128, 0.527);
}

.botonVerMas{
    background-color: #D2B48C;
    border-color: #D2B48C;
    font-weight: 500;
}